anjali.html

#this will ignore all log file
*.log

#this will ignore b.txt file
b.txt

#this will ignore all files in temp folder
temp/

#this will ignore only root files
/anj.html
/anj.txt

# this will only anj.file from name folder
name/anj.file


# this will ignore all x.txt files in project
**/x.txt

#this will  target all x.txt files not which are in local name folder  
**/local/x.txt

#this will ignore all files and folders between lib and name folder 
**/lib/**/name/

# this will ignore all folders end with name1
*name1/